* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100%;
}

.container-main {
    display: flex;
    width: 1440px;
    height: 100dvh;
    justify-content: center;
    padding-top: 10%;
    background-color: #0d1424;
}

.actives-states {
    /* border: 1px solid black;*/
    width: auto;
    height: 450px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px 250px;
    column-gap: 20px;
}

.active-state {
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 4%;
}

#a-s-profile {
    width: 250px;
    height: 480px;
    background-color: rgba(29, 32, 75, 255);
}

#a-s-profile {
    grid-area: 1/2/1/1;
}

.profile-desc {
    width: 100%;
    border: 1px solid black;
}

#a-s-d-profile {
    height: 70%;
    border-radius: 4%;
    background-color: #5746ea;
}

.container-a-s-d-profile-image {
    width: 75px;
    height: 75px;
    border: 3px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 11%;
    left: 12%;
}

#a-s-d-profile-image {
    width: 75px;
}

.container-a-s-d-profile-text {
    position: relative;
    top: 15%;
    left: 12%;
}

.reportFor {
    color: #c3beff;
    font-size: 12px;
}

.profile-name {
    color: #fcfbff;
    font-size: 40px;
    font-weight: 300;
}

.profile-menu {
    position: relative;
    top: 1%;
    left: 12%;
}

.profile-menu-items {
    margin-bottom: 20px;
}

#profile-menu-daily {
    margin-top: 10px;
}

#a-s-work {
    grid-area: 1/2;
    background-color: #ff8b64;
    overflow: hidden;
}

.work-desc {
    width: 100%;
}

.work-desc:hover {
    background-color: #34397b !important;
    cursor: pointer;
}

#a-s-d-work {
    height: 79%;
    border-radius: 4%;
    background-color: #1d204b;
    position: relative;
    top: -28px;
}

#a-s-d-work-image {
    position: relative;
    left: 150px;
    top: -5px;
}

.container-a-s-d-work-text,
.container-a-s-d-play-text,
.container-a-s-d-study-text,
.container-a-s-d-exercise-text,
.container-a-s-d-social-text,
.container-a-s-d-self-care-text {
    color: white;
}

#a-s-play {
    grid-area: 1/3;
    background-color: #56c2e6;
    overflow: hidden;
}

.play-desc {
    width: 100%;
}

.play-desc:hover {
    background-color: #34397b !important;
    cursor: pointer;
}

#a-s-d-play {
    height: 79%;
    border-radius: 4%;
    background-color: #1d204b;
    position: relative;
    top: -28px;
}

#a-s-d-play-image {
    position: relative;
    left: 150px;
    top: -2px;
}
 
#a-s-study {
    grid-area: 1/4;
    background-color: #ff5e7d;
    overflow: hidden;
}

.study-desc {
    width: 100%;
}

.study-desc:hover {
    background-color: #34397b !important;
    cursor: pointer;
}

#a-s-d-study {
    height: 79%;
    border-radius: 4%;
    background-color: #1d204b;
    position: relative;
    top: -27px;
}

#a-s-d-study-image {
    position: relative;
    left: 150px;
    top: -5px;
}

#a-s-exercise {
    grid-area: 2/2;
    background-color: #4bcf83;
    overflow: hidden;
}

.exercise-desc {
    width: 100%;
}

.exercise-desc:hover {
    background-color: #34397b !important;
    cursor: pointer;
}

#a-s-d-exercise {
    height: 79%;
    border-radius: 4%;
    background-color: #1d204b;
    position: relative;
    top: -10px;
}

#a-s-d-exercise-image {
    position: relative;
    left: 150px;
}

#a-s-social {
    grid-area: 2/3;
    background-color: #7235d1;
    overflow: hidden;
}

.social-desc {
    width: 100%;
}

.social-desc:hover {
    background-color: #34397b !important;
    cursor: pointer;
}

#a-s-d-social {
    height: 79%;
    border-radius: 4%;
    background-color: #1d204b;
    position: relative;
    top: -30px;
}

#a-s-d-social-image {
    position: relative;
    left: 150px;
    top: -10px;
}

#a-s-self-care {
    grid-area: 2/4;
    background-color: #f1c75b;
    overflow: hidden;
}

.self-care-desc {
    width: 100%;
}

.self-care-desc:hover {
    background-color: #34397b !important;
    cursor: pointer;
}

#a-s-d-self-care {
    height: 79%;
    border-radius: 4%;
    background-color: #1d204b;
    position: relative;
    top: -23px;
}

#a-s-d-self-care-image {
    position: relative;
    left: 150px;
    top: -8px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    color: white;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;

}

#reticencias {
    position: relative;
    top: -8px;
    font-size: 25px;
}

#timer {
    text-align: left;
    padding-left: 40px;
    font-size: 50px;
    font-weight: 300;
}

#timerLastWeek {
    font-size: 12px;
    text-align: left;
    padding-left: 40px;
    margin-top: 10px;
    color: #7b7fb3;
}

#profile-menu-daily,
#profile-menu-weekly,
#profile-menu-monthly {
    text-decoration: none;
    color: white;
}